.infoviz-treemap-evolution-colors[data-name=no-change] {
  color: #444;
}

.infoviz-treemap-evolution-colors[data-name=negative-change-max] {
  color: red;
}

.infoviz-treemap-evolution-colors[data-name=positive-change-max] {
  color: green;
}

.infoviz-treemap-evolution-colors[data-name=label] {
  color: white;
}

.infoviz-treemap-colors[data-name=header-color] {
  color: white;
}

.infoviz-treemap-colors[data-name=header-background-color] {
  color: #6a6a6a;
}

.infoviz-treemap-colors[data-name=normal-node-color] {
  color: #ccc;
}